:root {
  --window-bg: hsl(239, 98%, 83%);
  --rpg-red: hsl(0, 95%, 22%);
  --rpg-grey: hsl(312, 3%, 30%);
  --rpg-gold: hsl(29, 65%, 50%);
}

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: var(--window-bg);
  color: #fff;
}
