:root {
  --window-bg: hsl(239, 98%, 83%);
  --board-bg: hsl(300, 3%, 30%);
  --tile-unknown: hsl(216, 28%, 7%);
  --room-active: hsl(216, 84%, 20%);
  --room-visible: hsl(216, 85%, 44%);
  --hallway-visible: hsl(225, 4%, 78%);
  --rpg-red: hsl(0, 95%, 22%);
  --rpg-grey: hsl(312, 3%, 30%);
  --rpg-gold: hsl(29, 65%, 50%);
}

.tile {
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 128px;
  height: 128px;
  width: 128px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.room {
  background: var(--room-visible);
}

.active {
  background: var(--room-active);
}

.selectable {
  -moz-box-shadow: inset 0 0 16px #000000;
  -webkit-box-shadow: inset 0 0 16px #000000;
  box-shadow: inset 0 0 16px #000000;
}

.hallway {
  background: var(--hallway-visible);
}

.blank {
  background: var(--board-bg);
}

.unknown {
  background: var(--tile-unknown);
}
