@import url(../../assets/App.css);

/* .board {
  background-color: var(--board-bg);
  border-top: 8px ridge var(--rpg-gold);
  border-left: 8px groove var(--rpg-gold);
  border-right: 8px ridge var(--rpg-gold);
  border-bottom: 8px groove var(--rpg-gold);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px 3px rgba(1, 1, 1, 0.3);
  padding: 64px;
} */

.board {
  background-image: url("../../assets/map.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 896px;
  height: 640px;
  padding: 0px;
}
.boardRow {
  justify-content: center;
  margin: 0;
}
